<a href="https://colab.research.google.com/github/JaimeAndresSalas/Fundamentos-Practicos-de-Machine-Learning/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
series = pd.Series([5,10 , 50, 10, 20, 30])

In [3]:
series

0     5
1    10
2    50
3    10
4    20
5    30
dtype: int64

In [4]:
type(series)

pandas.core.series.Series

In [5]:
series[3]

10

In [6]:
cad = pd.Series(['p', 'l','a','t','z','i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [0]:
lst = ['Hola','Mundo','Robotico']

In [0]:
df = pd.DataFrame(lst)

In [9]:
df

          0
0      Hola
1     Mundo
2  Robotico

In [0]:
data = {'Nombre': ['Juan','Ana','Jose','Arturo'],'Edad':[25, 30, 15, 20], 'Pais':['MX','EC','CO','EC']}

In [15]:
df= pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    30   EC
2    Jose    15   CO
3  Arturo    20   EC

In [16]:
print(df[['Nombre','Pais']])

   Nombre Pais
0    Juan   MX
1     Ana   EC
2    Jose   CO
3  Arturo   EC